[2017-12-17 14:24] schickling opened #1 "Improve error message when calling mutation that doesn't exist"
@sorenbs commented on [Sun Dec 17 2017](https://github.com/graphcool/graphcool-binding/issues/13)

When calling a misspelled mutation like this:

[code]

The following (unhelpful) error is returned:

[code]

---

@kbrandwijk commented on [Sun Dec 17 2017](https://github.com/graphcool/graphcool-binding/issues/13#issuecomment-352256021)

For reference, I have included that here, let's include that i

[2017-12-18 18:12] sorenbs opened #2 "args are being overridden when name clashes"
For example, when both apis have a single argument called `data`, then the provided `data` is being overridden by the argument in the original request:

[code]

A workaround is to not include `info` in the delegated request.

[2018-01-04 05:34] kbrandwijk opened #11 "subscriptions not working when debug=true"
Error: iterator.next is not a function.

[2018-01-04 09:26] schickling commented on #11
Issue moved to [graphcool/graphcool-binding #42](https://github.com/graphcool/graphcool-binding/issues/42) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-04 09:26] #11 closed

[2018-01-04 13:07] kbrandwijk opened #13 "Improve test coverage"

[2018-01-04 13:08] kbrandwijk opened #14 "Add documentation for `forwardTo`"

[2018-01-06 18:46] schickling opened #17 "Support delegation to sub fields"
Currently schema delegation is only possible for root fields but not for subfields which becomes necessary when for example a most fields are wrapped in a `viewer` root object.

Here is a syntactical suggestion for how the API could look like:

[code]

Thoughts about implementation:

- Requires deeper refactoring to support both Promise interface (`.then()`) and method chaining (especially tricky

[2018-01-11 14:09] nikolasburk opened #24 "Scalar root field (string) only returns undefined"
What is the expected return value of a generated function on `query` when the root field is a scalar?

Consider this example:

[code]

With the current implementation, it prints only `undefined`.

I'd expect this to print either `Hello World` or `{ hello : 'Hello World' }`.

[2018-01-12 03:09] kbrandwijk opened #26 "Context should be parameter for generated delegates"
Some delegate queries need access to the context, which is currently not passed in. This needs to be added as parameter.

Adding it as last parameter is non-breaking, but also non-standard. Adding it before info requires you to specify context. Both are not great.

Alternatively, we should switch to named parameters, which is also breaking.

@schickling thoughts?

[2018-01-12 10:13] gc-codesnippets commented on #26
Great point for bringing this up @kbrandwijk. This is a historic result of `graphql-binding` being refactored out of `graphcool-binding` (which doesn't need the context to be passed on).

I suggest to add support for it in `graphql-binding` which then can be used by other bindings that need it.

WDYT?

[2018-01-12 10:13] schickling commented on #26
Great point for bringing this up @kbrandwijk. This is a historic result of `graphql-binding` being refactored out of `graphcool-binding` (which doesn't need the context to be passed on).

I suggest to add support for it in `graphql-binding` which then can be used by other bindings that need it.

WDYT?

[2018-01-12 10:14] kbrandwijk commented on #26
Yes, I agree. That's why this is in `graphql-binding`. The issue is how (see the options above)...

[2018-01-12 10:56] schickling commented on #24
This definitely looks like a bug. We should also make sure to add some more test coverage for this.

[2018-01-12 11:00] kbrandwijk commented on #24
I'm trying to debug this one. We have a separate issue for test coverage (#13)

[2018-01-12 11:03] kbrandwijk commented on #24
It seems to have something to do with the way we create the info object

[2018-01-12 12:17] kbrandwijk commented on #24
We actually had a test for this, but the assertion was incorrect.

[2018-01-12 12:26] #24 closed

[2018-01-12 15:01] nikolasburk opened #28 "Generate GraphQL bindings from REST APIs"
It should be possible to transform any REST API into a GraphQL binding, based on some kind of structured API documentation, such as [Swagger](https://swagger.io) / Open API docs.

Open questions:

- What kind of REST API tooling provides/generates a structured documentation that could be used as a foundation to generate the GraphQL schema?

[2018-01-12 17:57] nikolasburk opened #29 "Add `debug` option to constructor to log all GraphQL operations"
The `graphcool-binding` package allows for a `debug` argument that logs all GraphQL operations to the console. I think it would be nice to implement it here rather than in the `graphcool-binding` package so all `graphql-binding` derivates get access to it.

[2018-01-14 09:43] kbrandwijk commented on #26
This was implemented in #27

[2018-01-14 09:43] #26 closed

[2018-01-14 09:43] kbrandwijk commented on #14
@marktani I think you created an example for this? If so, can this be closed?

[2018-01-14 11:06] kbrandwijk commented on #28
I checked this out a bit more. The OpenAPI specification should be the basis for this. Swagger has https://github.com/swagger-api/swagger-codegen, which is a collection of many, many, generators for clients, servers, etc. I think generating a GraphQL binding should be one of those generators. I will look into this in more detail, and draft a proposal.

[2018-01-14 14:14] schickling commented on #14
@DevanB could you write up some docs for this? :)

[2018-01-16 20:06] ntziolis commented on #28
Not sure how extensive this covers all cases but this package seems to be fairly actively used:
https://www.npmjs.com/package/swagger-to-graphql

Anybody experience with this lib?

[2018-01-16 20:59] kbrandwijk commented on #28
@ntziolis Thank you very much for pointing to that library. It looks good, and seems easily integratable with `graphql-binding` and `yoga` (by using the schema it exposes as input for `graphql-binding` and adding that proxyURL to the context in `yoga`).

[2018-01-17 13:59] ntziolis commented on #28
The key and graphcool specific piece will be to handle things like pagination, aggregates etc. For that I would suggest using an architecture that allows for all graphql implementations to share a common base and to allow it to be configurable for each implementation. lmk how experiments go I'm happy to help. This is on top of my current want to have list.

[2018-01-17 17:26] kbrandwijk opened #30 "Make going from schema to remoteExecutableSchema easier"
`graphql-binding` requires a remoteExecutableSchema. It would be nice if it provided a convenience method (much like `prisma-binding` does), for creating a standard `remoteExecutableSchema` using `apollo-link-http` and `makeRemoteExectubleSchema`.

[2018-01-22 11:06] kbrandwijk opened #32 "Investigate integration possibilities with hypergraphql"
http://hypergraphql.org/

[2018-01-23 06:25] export-mike commented on #28
this project just keeps on giving! 👀 "following"

[2018-01-23 16:49] kbrandwijk commented on #28
I am currently looking to go down the following path. I will release a openapi specific version of `graphql-binding` (similar to `graphql-binding-github`), that uses `swagger-to-graphql` internally. This way, you will be able to set up a binding like this:

[code]

[2018-01-26 12:58] kbrandwijk opened #35 "Make extractFragmentReplacements work automatically"
Right now, you need to call extractFragmentReplacements on your resolvers manually, and pass them in to your binding. This is a confusing step, that should not be necessary.

[2018-01-26 15:02] kbrandwijk opened #37 "Implement 'addMissingResolvers' feature"
It would be nice if there was a `addMissingResolvers(bindingName)` function that would add `forwardTo` resolvers for any root field resolvers that are not implemented manually.

Use case. You import a (large) number of queries and mutations from a backend schema, and want `forwardTo` resolvers for most of them.

[2018-01-28 03:15] kbrandwijk opened #39 "Support field arguments in 'string' type info"
When passing `info` as a string, field arguments are not supported. For example:

`binding.query.myQuery({},{},'{ myField(arg: "value") { field }')`

[2018-01-28 03:16] kbrandwijk commented on #39
Seems to be supported already

[2018-01-28 03:16] #39 closed

[2018-01-28 03:33] stevemu commented on #37
I would like this features too.

I tried Prisma out but I reverted back to apollo. The main powerful of the Prisma to me is the auto-generated api for the underlining database, but I couldn't access those api directly from the client side; I had create "forwardTo" for every CRUD methods, it gets tedious pretty quickly. I know how to query database and create CRUD endpoint manually, as I use rethin

[2018-01-28 04:32] kbrandwijk commented on #28
The binding is released: https://github.com/graphql-binding/graphql-binding-openapi. Please feel free to open an issue on that repo for additional questions/requests/issues regarding REST API support.

[2018-01-28 04:32] #28 closed

[2018-01-28 04:53] kbrandwijk commented on #14
@DevanB @schickling This is one of the least known features, but with the most positive reactions once people find out. Can we bump up the priority on this?

[2018-01-28 09:09] ntziolis commented on #28
Wow tust was a Quick Turn around!

[2018-01-30 10:06] Weakky commented on #37
+1 on this one, upgrading from GCF to Prisma would mean forwarding almost everything by hand for me. 99% of my business logic is about CRUD operations, I only need one or two "schema extensions" for payment and user's basket, just like the 'full-example' example from GCF https://github.com/graphcool/graphcool-framework/tree/master/examples/0.x/full-example.

However, I'm concerned that we would ha

[2018-01-30 17:10] wesbos commented on #37
Would be neat to be able to first check auth and then return the `forwardTo('db')`

[2018-01-30 20:40] marktani opened #40 "Thoughts on resolver forwarding"
Based on recent feedback, I'd like to kickstart an open discussion about the state of resolver forwarding and potential improvements.

`forwardTo` is a great convenience function:

[code]

Here, we forward the `posts` query from our GraphQL server to a Prisma API.
However, as soon as we want to modify the behaviour by, say, checking authentication before resolving, we have to fall back to the full

[2018-01-30 20:48] DevanB commented on #14
I'm putting this on the TODO list for Thursday. Without a deadline, I won't do it hah. 💯

[2018-01-30 20:48] marktani commented on #14
The example can be found here: https://github.com/graphcool/prisma/tree/master/examples/resolver-forwarding

I think it would be great to mention the discussions in #37 and #40 in the documentation as well, as there is a lot of great input to be expected 🙂

[2018-01-30 20:54] kbrandwijk commented on #14
@DevanB Great, I'll check back on Wednesday 🙃 😉

[2018-02-03 09:14] SpaceK33z commented on #40
I think the biggest issue with `forwardTo()` by far is that you have to manually copy all the generated GraphQL code by Prisma to your own `schema.graphql`. So if you want to forward `posts` you'd have to copy and paste this:

[code]

[2018-02-03 14:11] kbrandwijk commented on #40
@SpaceK33z No, that's not the case. You can just import it, by putting `# import Query.posts from 'prisma.graphql'` in your `schema.graphql`.

[2018-02-03 15:12] kbrandwijk commented on #35
This is actually a bigger issue. Because the same mechanism used for `extractFragmentReplacements` should also be applied to other resolver fields, like `__resolveType`. This is crucial for supporting Union Types in bindings (reported by @idibidiart).

[2018-02-03 15:26] SpaceK33z commented on #40
Thanks, I did not know that 😅. Still learning GraphQL...

[2018-02-05 20:17] RishitKedia opened #45 "Access error object when delegating a mutation through prisma-binding"
Hey! 👋

So, the Prisma API [now](https://github.com/graphcool/prisma/releases/tag/1.0.0) returns error codes for errors, like when violating the `unique` constraint. But, when delegating a mutation through `prisma-binding`, the error code is part of a string `error.message` which is not machine-readable. I've also found `error.originalError`, but same story. How do I access the error code? 😛

Here

[2018-02-06 09:25] schickling commented on #45
Thanks a lot for opening this issue @RishitKedia! Could you set `debug: true` in the Prisma binding and paste the logged server response here?

[2018-02-06 09:57] RishitKedia commented on #45
Hey, Johannes! 👋

Sure, here it is:

[code]

Also, not sure why it's logged as a network error.

[2018-02-06 10:06] schickling commented on #45
@kbrandwijk could you take a look into this? Seems to be related to the link changes you've introduced a while back.

[2018-02-08 14:00] timsuchanek commented on #45
Hey @RishitKedia thanks for reporting this issue!

I just did a fix in `prisma-binding`, please upgrade to `prisma-binding@1.5.7` and in `graphql-yoga` - please upgrade to `graphql-yoga@1.2.4`.
It involves 3 changes:
- pass through `code`
- pass through `requestId`
- fix `message` - don't suffix it with the respone json

[2018-02-08 15:40] RishitKedia commented on #45
Hey, @timsuchanek! 😃

You are awesome. Thanks for fixing this! 🙏

Before closing this issue, just thought I'd confirm if I'm seeing something unusual.

I now see the error logged as both a `GraphQL` and `Network` error. Is that normal? 😋

[code]

[2018-02-13 18:06] ramsaylanier commented on #40
Would it be possible to compare GraphQL schemas between the database and application using introspection and then determine which application queries don't have resolvers?

[2018-02-16 16:40] henry74 opened #53 "Enhancement: Support remote schema stitching/execution over other transports (e.g. gRPC)"
Posting as a possible enhancement per conversation with @schickling  on the [Slack channel](https://graphcool.slack.com/archives/C8S58T2LD/p1518797642000307):

Remote schema stitching and execution requires every remote service run as a GraphQL Server exposed over a HTTP-based API.  In a microservices-based architecture where those remote services are only involved in service-to-service communicat

[2018-02-22 13:20] marktani opened #56 "Scalar lists are not queried if the info object is omitted"
Omitting the `info` object from a query is supposed to fetch all scalar fields. This does not seem to be the case for scalar list fields.

Consider this Prisma data model:

[code]

If I run this resolver:

[code]

The result contains `id` and `title`, but not `page`.

[2018-02-22 14:39] kbrandwijk commented on #56
Change required here: https://github.com/graphql-binding/graphql-binding/blob/master/src/info.ts#L36-L47.

Use the utility functions from https://github.com/graphql/graphql-js/blob/master/src/type/definition.js to get the correct types (`isListType`, `isScalarType`, etc.).

[2018-02-22 14:52] kbrandwijk commented on #14
@DevanB?

[2018-02-22 19:33] pie6k opened #57 "Omitting the info object could put 'promises' into nested fields"
Let's say `Post` has multiple categories inside `categories` field.

If you query for - `db.query.allPosts()` - you'll only get scalar fields.

What do you think about having all nested fields as thenable object

eg:

[code]

under the hood, `categories.then()` would be fired, and it could be used to start fetching nested field and in fact return desired data without needing to write info object

[2018-02-22 22:12] schickling commented on #57
Hmm this is a really interesting idea! Would you be up to exploring it in a fork? Happy to assist with the implementation.

[2018-02-23 09:39] arrowfunxtion commented on #40
@kbrandwijk Import doesn't automatically expose the imported type to client. It's only referencing, that being said, I still need to redefine the type to expose to the client.

My concerns is, say, I want to be able to expose automatically all the generated type from `generated/prisma.graphql` to the client without manually redefine on 'schema.graphql`

[2018-02-23 09:58] arrowfunxtion commented on #40
@marktani I have no problem on performing auth checking using forwardTo. Instead of wrapping per node basis, I would wrap all the resolvers before passing it GraphQLServer configuration. My concern now is what I state on my previous comments

[2018-02-23 12:28] ramsaylanier commented on #40
@arrowfunxtion wrapping all of the resolvers with an auth check works if every query requires authentication. It's doesn't work if you want per query authentication.

[2018-02-24 01:34] arrowfunxtion commented on #40
Nope, it works per query too. Basically the wrapper will check if the particular query needs an auth or authorization (defined in separate files, I called policies.js). If there is policy defined, then use the policy function, if not, let it pass

[2018-03-10 10:26] pie6k opened #61 "Nested fields input arguments are ignored"
My schema allows login like:

[code]

However, generated binding is ignoring `input` argument for `login` field. It is only allowing arguments on root `mutation` and `query` field and that is pretty much making it useless for my use-case.

My config:

[code]

I'd like to use binding like

`binding.mutation.auth.login(inputDataHere)`

or as async

[code]

[2018-03-13 06:36] lastmjs commented on #37
@stevemu and @Weakky please take a look at this blog post: https://medium.com/@lastmjs/advanced-graphql-directive-permissions-with-prisma-fdee6f846044

It shows a simple way to automatically expose all of the generated Prisma queries and mutations as resolvers. You can easily add the few custom resolvers that you would like as well. Permissions are handled as custom directives. I feel the blog pos

[2018-03-13 06:43] lastmjs commented on #40
This blog post offers potential simple solutions to these issues: https://medium.com/@lastmjs/advanced-graphql-directive-permissions-with-prisma-fdee6f846044

It shows a simple way to automatically expose all generated queries and mutations, and to easily combine those with your own custom schema and resolvers. Copying schema information is kept to a minimum. Permissions are handled elegantly thro

[2018-03-13 06:45] lastmjs commented on #35
Yes, please get rid of this, it is awkward

[2018-03-13 06:59] lastmjs opened #62 "Expose all queries and mutations as resolvers"
It seems like a common sentiment amongst Prisma users is that they just want to expose the entire generated CRUD API to the client, with a few custom pieces. See the following for evidence of that:

* https://github.com/graphql-binding/graphql-binding/issues/40
* https://github.com/graphql-binding/graphql-binding/issues/37

To achieve this, no one wants to copy over parts of the generated schema n

[2018-03-13 13:08] schickling commented on #62
Thanks a lot for bringing this up @lastmjs. This seems to be indeed a very common pattern which we'll try to simplify *a lot* with some upcoming tooling in the next few weeks.

For everyone interested in this, please provide more information about your use case(s) in the comments. Things we have heard so far:

1. Adding authentication & authorization rules
1. Add input validation rules to mutation

[2018-03-13 13:11] schickling commented on #35
Like @kbrandwijk this is a bit of a bigger topic which we need to further look into. @lastmjs I completely agree with you that this is complexity that ideally should be hidden.

Do you (or someone else) have any thoughts how this could be accomplished?

cc @freiksenet

[2018-03-13 13:14] freiksenet commented on #35
It's a separate transform in next-api, so it should be easier to apply. Unions/interfaces can also be supported through transform. I'm not sure what's the best way to extract the transforms in your case though.

[2018-03-13 13:17] freiksenet commented on #35
Though I think we should discuss how the transform extraction would happen in binding case. I guess you could generate some of them, but there would need to be a step to do that generation or you need to close over delegateToSchema the same way it's done in `mergeSchemas`.

[2018-03-13 13:19] schickling opened #63 "Consider (partial) rewrite once schema transformation land in graphql-tools"
Pending:

- [ ] https://github.com/apollographql/graphql-tools/pull/527

[2018-03-14 18:53] rcy commented on #40
Not sure if this is the place to share, but I posted a PR #65 which adds an optional `targetFieldName` argument to `forwardTo`.  I am in the process of migrating a large project from the graphcool framework to prisma, and want to leave as much dependent client/frontend code alone as possible.  So now I can do:

allPosts: forwardTo('db', 'posts')

Basically, allow forwarding to db endpoints whose n

[2018-03-14 20:03] schickling commented on #40
That's a great suggestion and already a good step in the direction which I've laid out in [this comment](https://github.com/graphql-binding/graphql-binding/issues/62#issuecomment-372659078).

[2018-03-14 21:42] casieber opened #66 "No license file"
Currently there is no license file in the repo, meaning that the work is by default under exclusive copyright. [[source]](https://choosealicense.com/no-license/)

Please add the appropriate license to open up the work for permitted usage.

Otherwise, if you purposefully left out a license in order to retain exclusivity, please add a note to the README saying so.

[2018-03-15 09:24] schickling commented on #66
Thanks for bringing this up @casieber. Just added the license file.

[2018-03-15 09:24] #66 closed

[2018-03-15 12:24] nickluger opened #67 "How to use fragments if model names differ?"
In the following i'm using prisma-binding as an example.

Let's say we have a **`User`** model in _Prisma_ and a **`PrivateProfile`** model in _Yoga_ which maps and relays to the user model.

I have a resolver **`me`**, which uses this prisma-binding call
[code]

I'm sending this from playground:
[code]

I'm receiving this response:
[code]

This is the request sent to Prisma:
[code]
It is clear *w

[2018-03-15 13:41] schickling commented on #67
Thanks a lot for reporting this @nickluger. This definitely seems like something that should be address (and might be possibly linked to the underlying `graphql-tools`). @kbrandwijk would you mind taking a look into this?

[2018-03-21 17:38] picosam commented on #62
@schickling may you share a bit more about what you're planning for this if you can? Thank you!
P.S. The 5 points you mentioned are already super useful.

[2018-03-22 17:19] LawJolla opened #70 "Using Bindings with Fragments for a Stitched Schema"
My questions are how to use fragments with bindings and how to use Dataloader with bindings.

To preface, I may be completely lost in my own head on this problem.  So let me give the 100,000ft view and hopefully there's an answer.

I have two servers, one for vehicles and one for files.  The vehicles server needs to stitch in the file server.  The vehicle server wants to query:

[code]

`heroImage

[2018-03-22 18:35] marktani commented on #70
Thanks a lot for your detailed description, @LawJolla.

I am curious to hear the perspective of @kbrandwijk, @schickling and @freiksenet on this topic :slightly_smiling_face:

[2018-03-27 15:02] stevokk commented on #62
We need to append on extra geolocation related values determined by the server to a couple of queries and it should be invisible to the user that the returned response is filtered in any way. I guess this concept would allow us to not rewrite the entire schema for this use case? We are using Node & GraphCMS

[2018-03-28 22:26] maxtechera commented on #70
I'm currently working on a very similar user case. I would like to know how to control which fields get requested when the function is used without info and some doc about fragmentReplacements.
If you can point me in the right direction I might be able to add later to docs.

[2018-03-30 20:05] abhiaiyer91 opened #73 "console.log(binding) throws error [depends on nodejs/node#10731]"
1. Github Binding example doesnt run: GraphQLError: Syntax Error: Unexpected Name "GitObject"
2. Creating the minimal example throws:
`Cannot convert a Symbol value to a string`
3. Adding a binding to info.test.ts to assert properties gets:
`Cannot convert a Symbol value to a string`

Seems like this module doesnt actually work?

[2018-03-30 20:07] abhiaiyer91 commented on #73
Heres a stack trace from the error:

[code]

[2018-04-01 02:12] schickling commented on #70
Thanks a lot describing your use case @LawJolla (and apologies for the delayed response). We'll be looking into this over the following days. Can you please provide a minimal repo to reproduce your scenario?

[2018-04-01 11:42] marktani commented on #73
For what it's worth, [`prisma-binding`](https://github.com/graphcool/prisma-binding) works. Maybe that helps to spot the mistake?

[2018-04-01 20:45] abhiaiyer91 commented on #73
Looks like this is related? https://github.com/nodejs/node/issues/10731

[2018-04-01 21:26] abhiaiyer91 commented on #73
Yeah so this isnt actually an error! only occurs when we console.log the binding it self! util overrides console.log! Interesting bug to say the least!

[2018-04-01 21:26] abhiaiyer91 commented on #73
http://www.mattzeunert.com/2016/07/20/proxy-symbol-tostring.html More info here if youre interested!

[2018-04-02 08:16] schickling opened #74 "Create `examples` directory"
- [ ] dataloader
- [ ] github (using `graphql-binding-github`)

Inspiration: https://github.com/APIs-guru/graphql-apis

[2018-04-02 09:50] schickling commented on #73
Hmm interesting @abhiaiyer91! Can you provide a minimal example + instructions to reproduce this problem? Are there multiple issues for you or is all of it blocked by nodejs/node#10731?

[2018-04-02 15:23] abhiaiyer91 commented on #73
the most minimal example to repro is:

[code]

[2018-04-02 15:23] abhiaiyer91 commented on #73
Im not blocked at all, we can just close this issue

[2018-04-02 17:27] LawJolla commented on #70
Thanks @schickling !

Here's the minimal repo.

https://github.com/LawJolla/graphql-stitched-bindings-example

[2018-04-02 17:54] schickling commented on #70
Thanks a lot @LawJolla. @timsuchanek will look into this later this week! :)

[2018-04-05 09:29] timsuchanek opened #78 "fragmentReplacements across multiple bindings"
Right now, using `extractFragmentReplacements` only works when exactly one binding is being used.
However, as soon as you want to include multiple separate bindings into your graphql-yoga server, there may be types in one binding that the other binding doesn't know of.
So let's assume we stay with the current API, using multiple bindings would look like this:

[code]

[code]

[code]

To solve this

[2018-04-06 09:49] timsuchanek commented on #70
Thanks for the example repo @LawJolla ! One question: Here you're providing a separate schema definition for the stitching. Is there a particular reason to not put this into the `schema.graphql`? https://github.com/LawJolla/graphql-stitched-bindings-example/blob/master/mainServer/src/index.js#L76

We're now working on a utility function that will help with your use case
[code]

That solves your is

[2018-04-06 18:43] LawJolla commented on #70
Thanks @timsuchanek , that would be perfect!

I've tried putting the `extend type` definition into the schema, but I've always had it kicked back.  Maybe I was just doing it wrong.  I'll give it a try.

But no, there's no particular reason it's there other than I couldn't get it to work in the schema and Graphql-tools shows that pattern in their old examples.

[2018-04-08 14:41] timsuchanek opened #80 "Limitations of `makeSubInfo`/ info field selection"
The [`info` object](https://blog.graph.cool/graphql-server-basics-demystifying-the-info-argument-in-graphql-resolvers-6f26249f613a) used in resolvers includes the sub-selection of the query for the current field.
As described here https://github.com/graphcool/prisma-binding/issues/118, there are valid use-cases for extracting subfields from this selection to pass that into a binding.
In [#118](htt

[2018-04-09 06:40] timsuchanek opened #81 "Move context to last argument position"
As the context argument is not needed in most of the cases, we should make it optional and move it to the last argument position.

[2018-04-09 06:43] FredyC commented on #80
I am bit confused here. I mean the selection set is already implemented and works, you can do `binding.query.addresses({}, '{ id }')`. It's possible I've misunderstood something and this works differently, but that would a breaking change.

An addition of `delegateQuery` is somewhat interesting, but in my opinion not exactly essential. Honestly, I did not even know there are some aliases in graphq

[2018-04-09 06:44] timsuchanek opened #82 "Add union/interface resolution"
To support unions and interfaces, resolution logic is needed to resolve the correct types depending on the node / fragment. For now, we have this logic in the `graphql-binding-github` which was the first binding that needed this.  https://github.com/graphql-binding/graphql-binding-github/blob/master/src/index.ts#L25 We should move this logic to `graphql-binding` and rethink if it's applied at the

[2018-04-09 07:09] timsuchanek opened #83 "Implement @forwardTo directive"
We already have a `forwardTo` utility helper function in `graphql-binding`.
A more convenient way to specify the forwarding would be in the schema itself.
It could look like this:

[code]

Before starting to implement something like that, it is important to decide where this logic should live in the ecosystem. While `graphql-yoga` would have the context to provide this feature, the semantic correc

[2018-04-09 07:40] timsuchanek commented on #80
Thanks for the answer @FredyC ! It would indeed be a breaking change, which we would of course be reflected in the semver version.
I'm answering in that issue separate, what I think you need is the opposite of `makeSubInfo`, which is embedding an info in a parent context

[2018-04-09 13:19] schickling commented on #40
@timsuchanek has written up some thoughts on how to push this forward. Curious to hear more thoughts on this: https://github.com/graphql-binding/graphql-binding/issues/83

[2018-04-09 16:13] LawJolla commented on #70
Awesome, thanks @schickling and @timsuchanek!  I should be able to give it a spin today.

[2018-04-10 19:19] gcangussu commented on #80
Thank you for your work @timsuchanek. Regarding the two problems:

1. **Field not selected**

In the case that there is no fragment (e.g. `makeSubInfo(info, 'subfield')`), couldn't we return `null` or throw an error that could be handled by the programmer? There is also the possibility of returning an info object with an empty selection (`'{ }'`).

And in the case that there is a fragment (e.g. `m

[2018-04-16 07:58] timsuchanek commented on #82
Implemented in latest beta.

[2018-04-16 07:58] #82 closed

[2018-04-16 07:58] timsuchanek commented on #81
Implemented in latest beta.

[2018-04-16 07:58] #81 closed

[2018-04-18 15:54] marktani opened #85 "Embed info object into a path"
Consider the following situation:

[code]

[code]

[code]

[code]

---

Visual explanation.

We want to get from

[code]

to

[code]

[2018-04-20 09:04] timsuchanek commented on #80
@gcangussu thanks for your answer. Yes you got it exactly right. Interesting, that it has been resolved properly in your use case, I will try to reproduce that. In my case both aliases got the same payload back, even if the args differed.

[2018-04-24 13:59] lewisblackwood commented on #62
Thanks for the write up @lastmjs! My experience with Prisma is very similar to what you've described. I'd like to expose the majority of the generated database API, with the addition of permissions/authentication. I'd like to keep duplication of the generated schema in my `schema/graphql` to a minimum. Ideally I'd be able to replicate the graphcool-framework API I had previously.

@schickling woul

[2018-04-25 12:16] Weakky opened #86 "GraphQL Bindings for front-end usage (compatible with any GraphQL Client)"
Hohai people,

The most powerful feature from bindings, IMO, are the TypeScript static typings provided with them. It almost completely removes the need for a  _GraphQL IDE_ (such as GraphiQL or Playground) when developing your api, increasing a lot your productivity.

Now, bindings can already be used for both the backend _and_ the frontend, but at a cost: **It prevents you from using a _GraphQL

[2018-04-25 12:33] Fonz001 commented on #86
I like the idea! But I also very much agree with the downsides. We currently have a VueJS frontend with actual bindings (e.g.: `db.query.users({ where: { online: true } });`). And so far we have not yet figured out if bindings really work in the front-end (we still use them though, but with an extra layer so the queries don't take up 1/3 of the screen).

[2018-04-25 15:05] timsuchanek commented on #85
There are a couple of GraphQL primitives to consider before going for this approach:
## Fragments
### Inline Fragments
If the original query contains inline fragments, they need to be properly copied over to the new resulting info object.
### Global Fragment definitions + fragment spread
Not just the normal selection set must be taken care of, but also globally defined fragments on types (and all

[2018-05-01 18:08] LawJolla commented on #70
Thanks for your help and I'm sorry for the long delay.  I ran into errors and then had other business crap come up.

I finally got back to it and it works great.  The only thing that's confusing to me is I wanted to use it as..

[code]

But once I changed it to
[code]

It worked perfectly.  Thanks for the help!!

[2018-05-01 18:08] #70 closed

[2018-05-03 20:11] abhiaiyer91 opened #89 "V3 GraphQL Tools is incompatible with binding handler"
GraphQL Bindings that depend on graphql tools v3
are getting an error
 `Error: Passing positional arguments to delegateToSchema is a deprecated. Please pass named parameters instead.`

this indeed has changed in delegateToSchema
https://github.com/graphql-binding/graphql-binding/blob/master/src/handler.ts#L26

[2018-05-04 08:38] schickling commented on #89
We'll shortly release version 2 of `graphql-binding` which uses the new named parameters syntax.

[2018-05-04 14:57] abhiaiyer91 commented on #89
Yeah sounds good, just noting that we probably broke applications using `^1.3.0`. Which will pull 1.3.1 and v3.

[2018-05-09 06:27] anuragnagarkota opened #92 "Error : cannot convert a symbol value to string"
I have tried to execute the example given in readme, but getting the following error
**cannot convert a symbol value to string**

const { makeExecutableSchema } = require('graphql-tools')
const { Binding } = require('graphql-binding')

const users = [
  {
    name: 'Alice',
  },
  {
    name: 'Bob',
  },
]

const typeDefs = `
  type Query {
    findUser(name: String!): User
  }
  type User {
    n

[2018-05-09 07:59] anuragnagarkota opened #94 "cannot convert a symbol value to string"
I have tried to execute the example given in readme, but getting the following error
**cannot convert a symbol value to string**

const { makeExecutableSchema } = require('graphql-tools')
const { Binding } = require('graphql-binding')

const users = [
  {
    name: 'Alice',
  },
  {
    name: 'Bob',
  },
]

const typeDefs = `
  type Query {
    findUser(name: String!): User
  }
  type User {
    n

[2018-05-10 11:18] schickling commented on #94
Hi @anuragnagarkota. Looks like you solved this problem yourself. Can you describe what the problem and solution was?

[2018-05-10 15:00] schickling commented on #92
Thanks for reporting this issue @anuragnagarkota! Can you please describe what the problem and solution was?

[2018-05-12 01:57] wtgtybhertgeghgtwtg opened #98 "Consider moving CLI to a separate package."
A majority of the dependencies of `graphql-binding@2.0.0` are from the CLI, which, if I'm understanding this correctly, is unused after the initial codegen.  Would you consider moving the codegen CLI to another package so that binding packages can stay light?

[2018-05-15 14:49] steve-a-jones opened #99 "graphql-bindings 2.0 and executable schema"
Running: `graphql-binding -l typescript --input src/schema/appSchema.graphql --outputBinding appB Binding.ts`

Throws: `Error: graphql-bindings 2.0 can only be generated based on an executable Schema exposed by a .js or .ts file`

What is the proper way to `expose` the executable schema? Through this script here .. https://github.com/graphql-binding/graphql-binding/blob/master/examples/full-exampl

[2018-05-15 14:53] steve-a-jones commented on #99
This example is more succinct regarding my question above

https://github.com/graphql-binding/graphql-binding/blob/master/examples/minimal-example/schema.ts

[2018-05-16 14:54] #89 closed

[2018-05-16 18:13] Aetherall opened #100 "buildSubscriptionMethods calls this.schema.getQueryType instead of getSubscriptionType"
Hi !
I get queries when I try to access subscriptions, should not this be `this.schema.getSubscriptionType();` ?

https://github.com/graphql-binding/graphql-binding/blob/8ce6a0129d7ce3a96fd0044b6857366dfa005654/src/Binding.ts#L61-L77

[2018-05-18 14:51] Aetherall commented on #100
PR: #102

[2018-05-18 23:32] prevostc commented on #86
Hello, I read the blog post in great details and I have to say that I really like the idea of a fully generated and typed api client.

To add to what @Weakky pointed out, I agree that with a typescript frontend and a typescript backend, GraphQL just break the typing chain **despite being fully typed**.

On the server side, we should be able get compile errors when a resolver input or output type d

[2018-05-20 10:27] capaj opened #103 "TypeError: this.schema.getQueryType is not a function"
I get this error when I try to instantiate a new binding class. This is the whole stack trace:
[code]
 I've set up a new repo so that you can reproduce it easily here: https://github.com/capaj/type-gql-with-binding-boilerplate

just clone, `npm i` and then run `npx ts-node-dev sample-query.ts` and you'll get the error.

[2018-05-20 15:57] capaj commented on #103
aah my problem was that I was importing a commonJS module `binding-source.js`. It works now that I've changed it to be an ES6 module.

[2018-05-20 15:57] #103 closed

[2018-05-20 16:24] capaj opened #104 "binding-source does not support ES6 modules yet the generated binding requires ES6 module"
so I have a sandbox repo and currently if I generate a binding like this: https://github.com/capaj/type-gql-with-binding-boilerplate/blob/3ad576184fbdf405cf4445f1340728d3064a0947/package.json#L9

the generation is a success. The only problem is, that when I try to use my binding it fails like this: #103
I was thinking that I'll just write my binding source: https://github.com/capaj/type-gql-with-b

[2018-05-25 00:46] #100 closed

[2018-05-27 03:06] alvis opened #109 "Use of generic type in codegen for typescript?"
The unrestricted generic type generated is causing some trouble to here. For example in this generated definition:

[code]

`T` is unrestricted and therefore it's effectively equivalent to `T extends any = User | null`, even it has a default. In other words, the typing definition is pointless here. You can check this by `ReturnType<Query['me']>` and find this the resulting type is `Promise<{}>` ra

[2018-05-28 07:36] marktani opened #110 "GraphQL Bindings for other languages"
I've talked to many developers who'd like to see GraphQL Binding support in other languages.

- [ ] Python
- [ ] Go
- [ ] Ruby

[2018-05-28 08:47] peterpetre opened #111 "Cannot convert undefined or null to object"
Same error with [prisma-binding issue](https://github.com/prismagraphql/prisma-binding/issues/162).

Seems the error comes from this library.

P.S. I am not using prisma-binding, i have the same error just using graphql-binding.

[2018-05-28 17:19] adamkl commented on #111
I'm seeing this too.

[2018-05-29 14:13] adamkl commented on #111
Looks like the cause (for me at least) was a breaking change in the `graphql-binding` API in v2.

This worked with v1.2.5:
[code]
but throws a `Cannot convert undefined or null to object` error in v2.

I did some digging and it looks like the error is coming from `graphql-tools` as it tries to pull fragment definitions from the passed in `GraphQLResolveInfo` object. The problem is, the object its

[2018-05-31 16:02] hyrecar opened #114 "support import syntax upon codegen"
Hello!
Codegen doesn't seem to be working with the latest version. Prisma-bindings seemed to have fixed this issue:
https://github.com/prismagraphql/prisma-binding/pull/169

[2018-06-01 12:13] divyenduz commented on #114
@hyrecar : Thanks for raising the issue. We released a new graphql-cli version today that fixes many issues around codegen. Can you please download the latest graphql-cli via `npm install -g graphql-cli` and try it out?

If that does not work, can you please answer the following questions:-

1. What does the work? The import syntax or the file generation or both?

2. Your `prisma.yml` file

3. You

[2018-06-01 12:38] frankdugan3 opened #115 "DELETED events ignored on subscription"
In my project, `DELETED` events are not showing up in my custom endpoint (passed via `graphql-binding`, but they are firing on the prisma backend.

For reference, here's my resolver:
[code]

And the subscription:
[code]

Using the same subscription directly on Prisma works as expected.

[2018-06-01 13:05] divyenduz commented on #111
We deployed a [release today](https://github.com/graphql-cli/graphql-cli/releases/tag/v2.16.1) that makes `graphql codegen` more robust.

Please install the new cli via `npm install -g graphql-cli` and try the `graphql codegen` command.

Note that with `prisma-binding` 1.x, we need to use `graphql prepare`
and with `prisma-binding` 2.x, we need to use `graphql codegen`

[Documentation for codegen]

[2018-06-01 16:38] frankdugan3 commented on #115
Made a very simple repo, and it didn't have this problem. I'm going to close this and look into my more complex stack to see if the problem is somewhere in there. I'll reopen if this ends up being related to `graphql-binding`.

[2018-06-01 16:38] #115 closed

[2018-06-01 16:41] marktani commented on #115
Thanks @frankdugan3.

Some parameters you can try to play with:

* running the same subscription from the Playground
* running the same subscription using https://gist.github.com/marktani/5df524523693c88be425bfb623ca8b8a
* running the same subscription with/without GraphQL Variables
* running the subscription without any filter

[2018-06-02 14:55] terion-name opened #116 "addFragmentToInfo: TypeError: (0 , _graphqlBinding.default) is not a function"
I try to use fragments in Prisma:

[code]

`articleReturn` value:
[code]

`Object.values(fragments).join('\n')` value:
[code]

And I get error:

[code]

[2018-06-07 20:21] hyrecar commented on #114
@divyenduz, sorry for the late response. I upgraded to the latest version of graphql-cli and it is able to successfully generate the schema.

The issue I'm having now is that when upgrading from 1.x, the API has changed. Main thing I noticed is that query and mutation signatures changed from `(args, context, info)` to `(args, info, options: {context, transforms})`. Are there any docs on migrating

[2018-06-08 08:40] divyenduz commented on #114
Can you please share your `package.json` and `.graphqlconfig.yml` files? The `dependencies`, `devDependencies` part of it. I think you need to do a `npm install` with `graphql-binding` or `prisma-binding` installed based on your `.graphqlconfig.yml` codegen configuration.

That should generate the correct bindings for you. Thanks.

[2018-06-08 11:58] cschroeter opened #117 "Question: Is there a ways to pass args to the schema?"
I'm using the graphql-binding generator to create my typescript file.

[code]

[code]

[code]

How can I exec this endpoint arg if the schema has to be a default export?

[2018-06-08 12:44] marktani commented on #114
As it seems to be the same issue, let's continue this discussion here: https://github.com/graphql-binding/graphql-binding/issues/111

[2018-06-08 12:44] #114 closed

[2018-06-09 11:28] alvis commented on #109
ping @timsuchanek

[2018-06-11 08:45] timsuchanek commented on #109
Thanks for raising this issue @alvis ! No, I was not aware of it.
This looks like a pretty small change.
Do you want to do a PR for it?

[2018-06-14 00:56] alvis commented on #109
@timsuchanek sure! happy to do so.

[2018-06-14 23:27] terion-name opened #119 "nested query bindings: possible?"
I have a gateway that combines services in a following way:
[code]
e.g. it wraps a service in it's corresponding type.

can I somehow make a binding for this schema like this: `binding.query.news.listNews(...)` or `binding.news.query.listNews(...)` ?

[2018-06-15 20:29] terion-name opened #120 "Bindings with upload"
Can graphql-bindings be used in context of a gateway with uploads support?

E.g. proxy multipart graphql requests from apollo upload.

As far as I understand — not. But maybe you have any ideas how to do this?

[2018-06-16 16:50] terion-name commented on #119
As for now I've managed to do it his way. Hacky, not clean, but works.

Maybe this should be possible in a more easy and clean way? This kind of gateway types organization is not rare and there are many questions about such implementation over internet

[code]

[2018-06-19 11:50] peterpetre commented on #111
`binding.mutation.createUser(args, info, { context });`

ok this works, thanks 👍

should i close it or let it for the typescript issue?

[2018-06-25 12:33] divyenduz commented on #111
Thanks everyone involved for the detailed reproductions.

Closing this one as the original issue is resolved. Please open a separate issue in case something is still unresolved. Thanks.

[2018-06-25 12:33] #111 closed

[2018-06-25 13:09] brikou opened #121 "ts-node should be listed in devDeps"
`ts-node` is required to generate code, but I guess it is not required to run code after that.

I think this is also true for somd other deps.

BTW graphql-binding + codegen = :metal:

[2018-07-05 19:44] jdolle opened #126 "Generated binding does not export correct type"
I am generating a binding for typescript and then compiling in order to publish on NPM, but the exported type is always cast as `any`.

.graphqlconfig.yml
[code]

tsconfig.json
[code]

Now whenever I import the generated module, I have to cast the binding, e.g.
[code]

Otherwise `binding` is type `any`.

I'm struggling to figure out why this is happening, since the exported object looks correctly

[2018-07-09 09:06] wawhal opened #128 "what if my query root is not `Query`"
Generation of graphql binding fails when my query root is not called `Query`. What is the right way to handle that?

[2018-07-09 11:05] wawhal commented on #128
Misunderstanding. Closing the issue.

[2018-07-09 11:05] #128 closed

[2018-07-09 14:20] terion-name opened #129 "2.1.1 delegate is not working with arguments"
Running a delegate with arguments results in unknown error

[code]

Withot arguments — works ok.
The same query with same arguments is running at remote service directly — works ok.

Trace is absolutely useless.

On the remote server there is a `graphql-yoga` server. I've tried to debug incoming request:
[code]

When I run delegate without args — console properly outputs:
[code]
(dunno why `foo` i

[2018-07-09 14:23] marktani commented on #129
Can you share a reproduction that can be run locally in the form of a repository? 🙂

[2018-07-09 14:50] terion-name commented on #129
@marktani nevermind, as usual — after posting a question one shortly finds answer — problem is not here, but in apollo's transformer in underlying layer. Sorry for bothering

[2018-07-09 14:50] #129 closed

[2018-07-10 17:35] mellogarrett opened #130 "Singular query function broken when using `@pgColumn(name: "name")` directive"
My Prisma service is simple, just one type and it looks like this:

[code]

When accessing the Prisma service directly, the below query (plural) returns [Service] like you would expect:
[code]
However, this query (singular) returns `null`
[code]

[2018-07-10 18:14] mellogarrett commented on #130
Sorry, this is actually for the `prisma-binding` library

[2018-07-10 18:14] #130 closed

[2018-07-13 05:43] divyenduz opened #132 "graphql-binding 2.0 and input schema types"
Currently, we support JS/TS form of schema as for for generating bindings. The rationale of this decision is to have the schema available at build time to generate bindings.

We can also support the following options

1. - [x] Support SDL form of schema (by dynamically creating an in memory TS/JS schema) and generate the binding. This issue is captured here https://github.com/graphql-binding/graph

[2018-07-13 23:33] tjpeden opened #139 "Generated bindings aren't compatible with webpack"
When bundling the generated bindings with webpack the resulting bundle fails with the error:

[code]

I dug into this a bit and what I found is that the following snippet is trying to `require` the graphql library by it's full path, which I get. But I think what you're trying to accomplish is something webpack is already doing.

[code]

If you can detect that the library is running in a webpack en

[2018-07-14 01:11] tjpeden commented on #139
It might be worth noting, I've gotten this error both from graphql-binding directly and from prisma-binding

[2018-07-17 02:18] degroote22 opened #141 "Invalid typescript file"
Currently I'm using  `"graphql-binding": "^2.1.1"` to generate my own bindings.
The file that is being generated contains:
[code]

and the compiler complains:
`
[ts] Rest parameter 'args' implicitly has an 'any[]' type.`

I am kind of confused by how these should be typed otherwise I'd have submitted a PR.
Or is it the case of explicitly typing it as `any[]`?

Thanks! 👍

[2018-07-17 08:54] marktani commented on #141
Hey @degroote22, thanks for bringing this up. Can you provide information on how you ended up wiht this generated binding? This will help in getting an understanding of this issue.

[2018-07-17 14:06] degroote22 commented on #141
It's quite a big schema I have in hand right now.
I'll trim it down so that there is less noise and will create a repo reproducting it.

[2018-07-17 17:19] degroote22 commented on #141
On the github docs sample there is the same error:
https://github.com/graphql-binding/graphql-binding-github/blob/master/src/generated-binding.ts#L80

Typescript has been adding changes related to rest-spread later, so it may be the case that just now the compiler started complaining.

[2018-07-18 09:44] #139 closed

[2018-07-19 10:14] harri121 commented on #67
Any progress on this issue? Is there a workaround for this?

[2018-07-20 07:27] divyenduz commented on #2
I am able to reproduce this: https://github.com/divyenduz/graphql-binding-2

What should be a fix for this though? Should the duplicate fields be collected?

cc @timsuchanek, @sorenbs

[2018-07-20 12:32] divyenduz commented on #2
Awesome! that sounds great. However, I would still keep it open to discuss real world use cases when a filed is overridden by resolver. Then we can lock the spec for override or collection.

Awesome catch! :)

[2018-07-24 18:39] lucasavila00 opened #142 "Confusion with arrays"
Given a type like this:
[code]

I'm getting this:

[code]

But I guess it should be

[code]

This error is being caused [at this line](https://github.com/graphql-binding/graphql-binding/blob/master/src/codegen/TypescriptGenerator.ts#L328)

I'll fork this project and try to fix this error and submit a PR!

Thanks for all!!!

[2018-07-24 18:59] degroote22 commented on #142
![captura de tela 2018-07-24 as 15 57 33](https://user-images.githubusercontent.com/12750442/43160001-516a985a-8f5a-11e8-907a-ed7c55463e6a.png)
This diff solved my issue.
I'm not sure if we should use (type | undefined)[] or (type | null)[] but this change solved my issue.
I'll await this conversation to evolve and I can submit a PR (I won't mind if you go and fix it, I don't care about getting a

[2018-08-01 10:31] divyenduz opened #144 "Support webpack and other bundlers"
The PR: https://github.com/graphql-binding/graphql-binding/pull/140 started the support for webpack, however it does not work for webpack 3 yet.

Issue with webpack is the [dynamic resolution](https://github.com/graphql-binding/graphql-binding/blob/master/src/utils/index.ts#L13-L14) of some dependencies which are required by the binary element of the package.

Here are a few points:-

1. We should

[2018-08-01 10:42] SpaceK33z commented on #144
The "binary element" is [this importhttps://github.com/graphql-binding/graphql-binding/blob/master/src/bin.ts#L9) I assume? I don't fully understand why that is a problem, since the `graphql` package is only a peer dep and not a normal dep. It would always use the `graphql` dep version the user has installed, right?

Anyway, I'm probably not seeing something so here's another potential solution:

[2018-08-02 15:53] ntziolis opened #145 "typescript schema import breaks"
schema import in generated binding gets rendered as
 - `import schema from  '..\schema'`

Instead of:
 - `import schema from  '../schema'`
or
 - `import schema from  '..\\schema'` <= while this is correct it is ugly and usually people use the above way to reference relative files

Initially the correct `/` is used, not sure where the error gets introduced:
https://github.com/graphql-binding/graphq

[2018-08-06 21:25] cidylle commented on #110
Would definitely love Python support for these bindings. Any interest from the Prisma team in implementing this soon?

[2018-08-18 17:14] pavelpashkovsky commented on #45
"graphql-yoga": "1.16.1",
"prisma-binding": "2.1.4",

Still have this error. It's quite weird, this error exists only when I call something like

`
ctx.db.mutation.upsertImage({
        where: {
            ctfID: image.ctfID
        },
        create: image,
        update: image,
    })
`

but when I try to execute the same logic on prisma playground => it works perfectly

[2018-08-20 06:39] ntziolis commented on #80
@timsuchanek I found a minor bug (2 lines) in the `makeSubInfo` method that prevented using it for sub field selection see pull request here: https://github.com/graphql-binding/graphql-binding/pull/149

[2018-08-22 02:33] stefanfuchs commented on #145
I'm having the same problem here.

[2018-08-22 03:38] abhiaiyer91 commented on #145
What version of graphql-binding are you using? I couldnt reproduce this on 2.2.2, but maybe im understanding the reproduction wrong?

[2018-08-22 03:40] stefanfuchs commented on #145
I'm using the same version as yours. It seems to be a Windows issue, because it uses the inverted slash for the paths.

[2018-08-22 21:11] feynmanliang opened #153 "Subscriptions are broken on 2.2.2"
Repro:
 1) create a subscription and subscribe to it
 2) the only payload received on the subscribing websocket is
[code]

[2018-09-03 14:38] checkmatez opened #157 "Error when calling mutation that is specified inside "extend type Mutation" block"
Hello!
I encountered issue when trying to build gateway server that proxy requests to graphql microservice.

The problem occurs when type definitions that I pass to makeRemoteExecutableSchema() inside Binding constructor contains "extend type" block. When I run userBinding.mutation.createUser() it errors with message "Cannot return null for non-nullable field Mutation.createUser.", and as far as I

[2018-09-09 20:48] #117 closed

[2018-09-10 14:08] jgoux commented on #45
Hello,

when calling prisma with `prisma-binding` I also have these 2 issues :
- Duplicate [GraphQL error] + [Network error] with the same message
[code]
- Not much informations about the error. I'd like to have its code and other metadata so I can turn it into a custom error easily. So far I have this :
[code]

[2018-09-10 14:48] pavelpashkovsky commented on #45
Guys, related to me it wasn't issue with prisma, It was was my fault. I wrote wrong async iterator and all operations was trying to write some data at the same time.

If you found this issue on your project guys check your async functions :) Hope I will save your time

[2018-09-10 15:15] jgoux commented on #45
Actually I think it's related to `graphql-yoga`, using `apollo-server`, I do have all the info in the `extensions` key! 🍾

[2018-09-17 16:58] playerx opened #159 "Experiment: using graphql-binding in client-side"
Hi, I've made an experiment, I use angular (6) and wanted to use code-generation same way we do it in back-end, I've generated typescript code for my remote graphql using `remote-graphql-binding` (which is for of prisma-binding, and works same way but for any graphql url) and I find out one fundamental issue, graphql-binding has dependency on nodejs. I understand why its necessary, but I think the

[2018-09-20 03:50] vadistic commented on #159
I was thinking about it, I really the idea of writing queries with bindings. But then I saw that any sensible schema introspection json is at least 2-3mb and you'll also need graphql & graphl-tools.

The best I could figure out was an idea to write a babel plugin to transform bindings on build time into apollo client queries with runtime variables from bindings (if you would keep the binding objec

[2018-09-20 16:33] playerx commented on #159
Thanks @vadistic for sharing your XP, schema introspection json size is a good point. I've some thoughts how it can be achieved optimal way, I'll make some researches and share it later

[2018-09-23 03:47] kojuka opened #162 "Context object not getting sent"
Sorry if this is already answered but I couldn't easily find info on this.
Hey guys great library here!  I'm a huge graphql fan here and was trying to figure out how to do microservice to microservice communication.  graphql-bindings greatly simplifies the schema delegation.

My issue is this:

The docs seem to state you can pass context as the third parameter:

[code]

however this is all I see

[2018-09-23 20:12] ghost opened #163 "Is it possible to use batching?"
Can I send multiple GraphQL operations as a single request using bindings? I didn't find anything about it in the docs.

UPDATE

I guess it's possible with an instance of `Delegate` but I'm not quite sure. I want to run 2 mutations and also pass a context

[2018-09-24 11:36] cRicateau opened #164 "How to dynamically update the link headers in the binding instance ?"
I use graphql-binding in an express server to query another graphql server. On each request, I need to pass a header whose value changes everytime (it comes from the express `req` object and it is used for [tracing](https://github.com/jaegertracing/jaeger-client-node) ). I create a new `HttpLink` and a new `GraphQLServiceBinding` instance each time, but it creates a memory leak on my server (see c

[2018-10-15 15:51] kojuka commented on #164
@cRicateau were you able to figure this out?  I have the same question

[2018-10-23 10:20] james-ff opened #169 "Cannot use Alias with custom binding"
Hello,

I'm using graphql-binding on top of postgraphile to build custom backend functions for my graphql api. I often shorten some of the long auto-generated names for relationship fields for ease of use on the frontend. This works fine with postgraphile on its own, but when called through a binding it errors when an Alias is used to rename one of the fields. I've tested a number of times and it

[2018-10-29 20:31] almostprogrammer commented on #162
I face the same problem, however after some digging it seems that the issue may not be with this package. The context is getting passed to delegate https://github.com/graphql-binding/graphql-binding/blob/9eb4bd06fa0d118eee11e9e1938d127d343637d1/src/Delegate.ts#L160 but from then on something weird happens. I've tried to track down the cause and it seems that the context gets passed to delegateToSc

[2018-11-06 20:26] ghost opened #173 "[object Object] is returned from a binding when resolver throws an error"
I've noticed that when a query/mutation is executed via a graphql binding an [Object object] error is returned. This behaviour is observed when an error is thrown in resolver as a part of a business logic.

[code]

`organisation` query throws an Apollo error when organisation is not found by id.

<img width="1278" alt="screenshot 2018-11-06 at 23 20 29" src="https://user-images.githubusercontent.c

[2018-11-10 10:29] terion-name opened #175 "method cache and memory leaks"
I have a specific usecase where schemas are not static, but should be updated over time without entire app restart.

In short, I have a master express server (that handles task-specific routing for SaaS system), that spawns child apollo-express servers (each for corresponding subsystem), that each use complex schemas built with `graphql-binding` over underlying microservices.

When something in su

[2018-11-15 12:20] Nicola-Nardella commented on #110
My company and I are interested in Python binding too

[2018-11-17 07:39] carstenbaumhoegger opened #176 "Cannot find module 'graphql/tsutils/Maybe'"
I updated `grapql-binding` to v2.3.1 and this error appears.
The changelog says, that there was an upgrade to graphql@14, but I can't figure out, what I've got to do to fix this error.

ERROR in node_modules/graphql-binding/dist/codegen/FlowGenerator.d.ts(3,19): error TS2307: Cannot find module 'graphql/tsutils/Maybe'.

The `graphql`-Dependency of my project is at v 14.0.2.

Thanks in advance
Cars

[2018-11-17 09:54] maticzav commented on #176
Hey 👋,

Thank you for reporting this. Could you put together a short reproduction example? It can be either Github repo or Codesandbox, or anything that suits you better 🙂

[2018-11-19 10:33] jacobpgn commented on #176
Hey there! I'm seeing this too – tiny repro at https://github.com/jacobpgn/graphql-binding-176, the `tsc` build is what's blowing up.

[2018-11-19 11:10] #176 closed

[2018-11-19 11:11] schickling commented on #176
:tada: This issue has been resolved in version 2.3.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/graphql-binding)
- [GitHub release](https://github.com/graphql-binding/graphql-binding/releases/tag/v2.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-19 11:12] maticzav commented on #176
@jacobpgn thank you for reproduction; I was able to find the issue in no time! The problem emerged due to missing `@types/graphql` in your project.

I internalised `Maybe` type to prevent such issue from happening. Let me know if you still experience the bug! 🙂

[2018-11-19 12:21] carstenbaumhoegger commented on #176
@jacobpgn
Thanks for providing a repro-repo!

@maticzav
Thanks for fixing the bug this fast!

[2018-11-20 00:36] tomitrescak opened #178 "mkdirp is not a function"
Hi, when I installed a version 2.3.3 I cannot generate my types anymore. I am getting error `mkdirp is not a function`. Packages are installed with yarn and mkdirp is present in the node_modules.

[code]

[2018-11-21 00:19] zanemcca commented on #178
This fix worked for me https://github.com/graphql-binding/graphql-binding/pull/179

[2018-11-21 21:04] tomitrescak commented on #178
Thanks!

[2018-11-22 20:27] zanemcca opened #184 "mkdirp race condition"
I have an error that pops up from time to time due to a missing directory.

### Error Message
[code]

I believe this line https://github.com/graphql-binding/graphql-binding/blob/master/src/bin.ts#L60 is to blame. It should probably be `mkdirp.sync(...)` instead of just `mkdirp`

[2018-11-22 21:05] #184 closed

[2018-11-22 21:05] maticzav commented on #184
@zanemcca thank you for noticing this! Just added types and pushed changes. Let me know if it works 🙂

[2018-11-22 21:06] schickling commented on #184
:tada: This issue has been resolved in version 2.3.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/graphql-binding)
- [GitHub release](https://github.com/graphql-binding/graphql-binding/releases/tag/v2.3.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-22 21:34] zanemcca commented on #184
@maticzav Thanks for the quick fix!

It looks like that fixed it for me. I tested it 25 times locally and once on my CI and it passed every time. I will report back here if it pops back up again.

[2018-11-22 21:36] maticzav commented on #184
@zanemcca great! I think it should work! Once I added types, the linter warned about the missing callbacks with no `sync` option. Curious why they weren't there before. 🤔

[2018-11-23 21:50] fgrehm commented on #119
This seems to be related to https://github.com/graphql-binding/graphql-binding/issues/17

[2018-11-23 21:50] fgrehm commented on #61
Seems to be related to https://github.com/graphql-binding/graphql-binding/issues/17

[2018-11-23 21:52] terion-name commented on #119
@fgrehm yes!

[2018-11-25 17:35] breytex commented on #40
Bump, also interested in a minimal stack approach reducing duplicated schema code and trivial resolvers :)

[2018-12-02 12:56] nemcek commented on #164
I had similar use-case and I was able to figure it out.
Basically instead of passing `fetch` from `node-fetch` or `cross-fetch` to the constructor of `HttpLink` you can pass function which modifies the headers and then calls the mentioned `fetch`.

You can extend `HttpLink` class and do something like this:
[code]

[2018-12-03 10:55] schickling commented on #40
Update: We're currently working on a new kind of GraphQL server framework which doesn't require you duplicate your schema/resolver code while still making it easy to adjust/evolve your schema in an easy and (type-)safe way. (The best part: you won't have to think about schema delegation or mess with the `info` object which is quite difficult to wrap your head around for newcomers.)

[2018-12-03 10:58] breytex commented on #40
Hi @schickling,
that's brilliant news.
I tried to come up with a system as you described based on directives, but that gets messy very very quickly.

Can't wait to see it as a core feature.
Is there any way I can help? Joining development? Testing beta?

Thanks!

[2018-12-04 22:54] kojuka commented on #162
Got it - works perfectly thanks @almostprogrammer

[2018-12-04 22:54] #162 closed

[2018-12-10 11:18] maticzav commented on #141
Hey @degroote22 👋,

Can you confirm that this is still an issue in the latest version of `graphql-binding`?

[2018-12-11 20:45] Pajk commented on #173
Hi, it's still happening with the latest version. There's no way how to find out what went wrong. I tried to inspect the error but there's nothing helpful.

[code]

[2018-12-11 21:21] Pajk commented on #173
I found a workaround at https://github.com/apollographql/graphql-tools/issues/480#issuecomment-444318754.

For anyone interested:

[code]

[2018-12-16 17:18] lambrojos commented on #164
You can use the `apollo-link-context` module to set headers based on the request context:

[code]

You  can specify the context as a property of the third parameter in your bindings:

[code]

[2018-12-17 19:03] maticzav commented on #173
Hey @almostprogrammer 👋,

Thank you for filling the issue. Could you provide me with a small reproduction repository or CodeSandbox? That way I can find the bug a lot more quickly.

[2018-12-18 11:39] almostprogrammer commented on #173
Hi @maticzav here's the reproduction https://github.com/almostprogrammer/graphql-binding-173-reproduction/tree/master

[2018-12-21 13:22] maticzav commented on #173
Hey @almostprogrammer 👋,

The reason you are experiencing this problem is because the first server `localhost:4000` is not yet available when you already try to generate binding from it on `localhost:5000`. Simply changing the starting script to two separte instances fixed the code for me and I no longer recived `[Object Object]`.

Could you try doing the same thing and verify it's working for you

[2018-12-21 16:05] terion-name opened #213 "error data from binding is not available"
[code]

I run a mutation. Underlying service returns error with data:
[code]

But here I get the following:
[code]

Thus, error data from underlying service is not available. How can I get it?

[2018-12-22 11:19] maticzav commented on #213
@terion-name I believe this is a duplicate of #173. Please review other issues next time before submitting new ones.

If you believe this is not related to the referenced issue, please reopen this issue and provide a reproduction Github repository or CodeSandbox, whichever works best for you. 🙂

[2018-12-22 17:14] terion-name commented on #213
@maticzav no, it is not a duplicate, read carefully please. I don't get [Object object], I get a proper error with proper message string. My issue that error from delegator does not contain additional arbitrary data that is included in error payload by underlying service and what is allowed by graphql spec as far as I am concerned. This kind of errors that we use specifically is Apollo errors stan

[2018-12-22 19:18] maticzav commented on #213
Hey @terion-name, yes, you are getting a proper error because you are logging it and #173 gets `[Object object]` because GraphQL handles it.

If you still believe this issue should be treated differently from the referenced one, please provide a thorough reproduction repository as mentioned above. Thanks 🙂

[2018-12-23 01:00] terion-name commented on #213
@maticzav it has nothing to do with that issue and has nothing to do with handling it in graphql renderer! just read what am I writing about and what the issue is about!

[2018-12-23 02:58] abhiaiyer91 commented on #213
this issue and the other are different symptoms of the same bug in the underlying graphql-tools. The way graphql tools decorates and forwards errors seems to miss out

[2018-12-23 02:58] #213 closed

[2018-12-28 19:53] degroote22 commented on #141
Fixed 👍

[2018-12-28 19:53] #141 closed

[2019-01-02 11:44] maticzav commented on #173
Hey @almostprogrammer 👋,

It seems like this issue stems from `graphql-tools`. Would you mind opening up the issue there and reference this one? We can keep this one open as an indicator. Currently, `graphql-binding` doesn't opinionate error handling and we would like to keep it that way. Having `graphql-tools` team sort this out would benefit us greatly.

Hope you understand 🙂

[2019-01-24 10:11] BrunoScheufler commented on #175
@terion-name I'm experiencing the exact same problem, have profiled my application and found two sources of memory leaks, in the memory cache fo graphql-binding, so this issue, as well as a cache in the prisma-binding package. I think the authors didn't intend use cases like having multiple schemas generated over time, which is a pretty serious assumption to begin with, especially if the caches ar

[2019-01-25 09:57] terion-name commented on #175
I currently use an extended class for this purpose:
[code]

[2019-02-21 08:38] RoryKelly commented on #169
It is possible to use alias with graphql-bindings. I am currently using it in my own project.

just cast the returned object to any and you can access the alias fields.

[code]

[2019-03-02 14:37] kieusonlam opened #263 "How to write dynamic fragment to use with addFragmentToInfo"
Hi guys,

I have this fragment for my orders query
[code]
If I query something like this
[code]
I will get this error
[code]
I'm not sure how to get query arguments from `info` to create dynamic fragment, can anyone  help me with an example.

[2019-03-06 05:24] #263 closed

[2019-03-19 08:16] cylon3035 commented on #142
Hi @degroote22, I run into the same issue as you, the problem is still actual. if your fix is working then submit a PR :) as for null vs undefined I prefer null because if we look into [GraphQL spec](url
https://facebook.github.io/graphql/draft/#sec-Value-Completion) we can see

[2019-03-27 10:12] macrozone commented on #62
i am evaluating prisma and also [react-admin](https://github.com/marmelab/react-admin/)

react-admin has three graphql-adapters:

- simple
- graphcool
- [prisma/opencrud](https://github.com/Weakky/ra-data-opencrud)

the prisma one works against the prisma-server, but of course this is not ideal in practise as you want to add authentification, modifications, etc. as mentioned in this thread here.

[2019-04-04 14:54] otrebu commented on #159
is this out of the question then? 😢

[2019-04-04 15:58] vadistic commented on #159
Not necessarily. Not with `prisma-bindings` itself, but being half a year wiser I'm thinking it should be fairly straightforward to write small proxy around apollo client to achieve same API with scripted `apollo-cli`/`gql-gen` for typings. I'm doing something quite similar in my project.

Damn, now I want to give it a try :)

[2019-04-24 03:17] stefanfuchs commented on #145
Any updates on this? Still the same problem on Windows.
I'm having to use own fork in order to fix the problem.

[2019-05-01 10:42] gahabeen opened #297 "Error with 'fs' and 'module' modules in front end"
When using graphql-binding in the front with Vuejs (through Nuxtjs) I end up having breaking errors regarding 'fs' and 'module' modules.

Won't you have a front-end version which would simplify the talking with the api?

Anyway, love the project. Just wanna find a way to make it work in the front-end if you've got any tips!

Error details:
[code]
Or am I wrong and I should never have tried it in t

[2019-05-07 09:35] webberwang commented on #40
For simple CRUD operations which happen often, having to specify resolvers is still cumbersome even with `forwardTo()`.

https://github.com/prisma/prisma-binding/issues/383

[2019-05-07 17:16] nikolasburk commented on #40
Hey @webberwang, this is a great point! Have you seen [`nexus-prisma`](https://github.com/prisma/nexus-prisma/) already? It provides a similar functionality as `forwardTo` and easily let's you expose and customize Prisma's CRUD operations.

Here is a simple [example](https://github.com/prisma/prisma-examples/tree/master/typescript/graphql-crud) that shows how to setup a CRUD API for your Prisma mo

[2019-05-07 19:04] webberwang commented on #40
@nikolasburk Thank you for the informative demo code. I have actually looked into the code-first approach. While it sounds great to have the single source of truth to be in the actual programming language, the syntax just isn't as appealing as SDL.

[2019-05-07 23:29] lastmjs commented on #40
Exactly, I'm pretty disappointed in Prisma's new direction

[2019-05-08 10:45] nikolasburk commented on #40
That's a great point, I definitely agree that SDL is extremely nice to read! I personally prefer having a type-safe API over an untyped string-based API to _construct_ my schema. For me, it's enough that the SDL is generated and I can use it as foundation to discuss the API with my colleagues, I don't need it when initially implementing the schema. But that's just my subjective opinion and I think

[2019-05-08 14:55] lastmjs commented on #40
I'm glad SDL first is still possible. As for the argument about type safety, why can't someone just create plugins based off of the TypeScript language server or whatever that is called, but for the GraphQL language. TypeScript only gives you type safety because of the language tools around it. For example, lit-plugin uses those TypeScript tools to provide static type checking for HTML. I'm pretty

[2019-05-08 21:06] webberwang commented on #40
@lastmjs You can generate types from GraphQL using https://graphql-code-generator.com/

@nikolasburk Are there examples of how the front end `gql` queries can benefit from `nexus`? I couldn't find any so far. Would be awesome to be able to type `gql` Query/Mutation. Right now I can only type check the arguments to the `gql` Query/Mutation, but not the actual Query/Mutation itself.

[2019-06-11 09:39] sangqle opened #305 "How can i custom resolves query connection which i expose from "forwardTo""
Hello everyone.

I'm sorry if a similar problem existed.
if i have a model like this:
![image](https://user-images.githubusercontent.com/22710371/59260658-3aa5ad80-8c66-11e9-9c5a-b60ec38b4a05.png)

The situation is like this, suppose I'm an author who posted a certain post and I'm in that post and I want to find a list of users to invite to my post subscription like subscribe type above.

I want t

[2019-07-03 19:08] blazestudios23 commented on #103
Do you have an example of the fix for this?

[2019-07-03 20:05] capaj commented on #103
@blazestudios23 probably in this commit? https://github.com/capaj/type-gql-with-binding-boilerplate/commit/3ad576184fbdf405cf4445f1340728d3064a0947

[2019-07-15 00:22] yaacovCR commented on #173
You could consider switching within graphql-binding to [graphql-tools-fork](https://www.npmjs.com/package/graphql-tools-fork), where this bug has been fixed.

[2019-07-17 15:24] maticzav commented on #173
@yaacovCR why is the fork not merged into the official `graphql-tools` yet?

[2019-07-17 16:30] yaacovCR commented on #173
Not for me to say, would love it!

[2019-07-17 18:43] maticzav commented on #173
Is there an open PR?

[2019-07-17 21:20] yaacovCR commented on #173
I stopped submitting PRs as they were not reviewed. I have not seen the maintainers give input on any issues in quite a while. That is why I created the fork.

You could almost say that the project was abandoned, however there was a recent PR, possibly from someone internal to Apollo, that was submitted and merged within about a day.

All kind of mysterious. Probably has something to do with Apoll

[2019-07-18 17:30] maticzav commented on #173
Could you try opening a PR nevertheless?

[2019-07-19 05:27] yaacovCR commented on #173
I am not sure worth the time of resolving the two different changelogs! If the maintainers of the upstream repository would chime in that they are interested, I would obviously feel differently.

Also, the code is public, though, so if you think it is worthwhile, please feel free!

And if you are interested in keeping the changelogs up to date, from what I have kept track, the fork addresses (amon

[2019-08-14 15:04] Urigo opened #325 "A new path for graphql-binding - help us decide on the roadmap!"
Hi everyone!

I'm @urigo the founder of [The Guild](http://the-guild.dev).

As recently [been announced](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) on the Prisma blog, we are taking over the maintenance of this library going forward.
I've expressed it in the blog post in more details but I would like to start by thanking Prisma for conceiving, creating and maintain

[2019-08-14 17:23] checkmatez commented on #325
Hello!
This is really awesome news! For a while it felt like this library was left in the dark. But it has huge potential to become de-facto standard way of generating clients for GraphQL.
I am excited to see what direction graphql-binding will take under new leadership.

[2019-08-22 13:21] robabby commented on #110
I’d love to see Python support as well. Any updates available on this?

[2019-09-01 23:51] andycmaj commented on #325
One thing i liked about `graphql-cli`'s vs `graphql-codegen` is the ability to generate a full graphql typescript client with query/mutation/subscription functions that mirror all the possible graphql types.

for example (from hasura schema):

[code]

AFAICT, `graphql-codegen` only supports generating the types themselves, and you then have to use apollo client or similar to execute the queries...

[2019-09-22 06:22] yaacovCR commented on #173
Anyways:

https://github.com/apollographql/graphql-tools/pull/1206

[2020-01-10 11:25] hmshwt commented on #157
@checkmatez Could you find a solution for this? I am facing the same issue.

[2020-01-11 11:01] checkmatez commented on #157
Unfortunely no. Eventually we moved off from graphql-bindings, because it does not perform very well as api client generator that we needed.

[2020-01-11 12:32] hmshwt commented on #157
Thank you

[2020-03-23 17:38] Urigo commented on #325
Hi everyone.

Today we've launched GraphQL Mesh, a library that we think might be the base of the next generation of GraphQL Binding - https://twitter.com/UriGoldshtein/status/1242118500795236353?s=20

I would love to have a discussion here where we list all the things we all want GraphQL Binding (and it's ecosystem libraries) to do, and see if GraphQL Mesh can help us become that base for it.

lo

[2020-04-10 13:20] goldcaddy77 commented on #325
@Urigo congrats on the release of Mesh! Curious what this means for the future of this library? If I’m reading the commit log correctly there hasn’t been a feature merged in here since March of 2019.

[2020-04-10 13:38] Urigo commented on #325
@goldcaddy77 we are trying to see what features people are using and wanting from binding and Mesh and come up with a roadmap for both.
Would you be willing to hop on a call or write something about how are you using Graphql-binding today and what would you want it to do better?

[2020-04-10 17:31] goldcaddy77 commented on #325
For sure, I'd be happy to.  Want to email me at [my github username] at gmail and we can figure out a time?

[2020-04-12 16:03] Urigo commented on #325
Thank you very much @goldcaddy77 !
I'll email you now.
That would really help us, thank you for willing to spend the time!

[2020-05-26 17:01] Urigo commented on #1
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:01] #1 closed

[2020-05-26 17:02] Urigo commented on #2
In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config) and [graphql-import](http

[2020-05-26 17:02] Urigo commented on #11
In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config) and [graphql-import](http

[2020-05-26 17:03] Urigo commented on #13
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:03] #13 closed

[2020-05-26 17:07] Urigo commented on #14
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:07] #14 closed

[2020-05-26 17:10] Urigo commented on #40
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:10] #40 closed

[2020-05-26 17:12] Urigo commented on #17
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:12] #17 closed

[2020-05-26 17:14] Urigo commented on #28
In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config) and [graphql-import](http

[2020-05-26 17:16] Urigo commented on #29
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:16] #29 closed

[2020-05-26 17:19] Urigo commented on #30
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:19] #30 closed

[2020-05-26 17:20] Urigo commented on #32
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:20] #32 closed

[2020-05-26 17:22] Urigo commented on #35
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:22] #35 closed

[2020-05-26 17:25] Urigo commented on #37
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:25] #37 closed

[2020-05-26 17:27] Urigo commented on #45
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:27] #45 closed

[2020-05-26 17:29] Urigo commented on #53
First, thank you for reporting.
Well, that's exactly why we've created GraphQL Mesh for!

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli),

[2020-05-26 17:29] #53 closed

[2020-05-26 17:30] Urigo commented on #56
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:30] #56 closed

[2020-05-26 17:31] Urigo commented on #57
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:31] #57 closed

[2020-05-26 17:32] Urigo commented on #61
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:32] #61 closed

[2020-05-26 17:34] Urigo commented on #62
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:34] #62 closed

[2020-05-26 17:36] Urigo commented on #63
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:36] #63 closed

[2020-05-26 17:38] Urigo commented on #67
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:38] #67 closed

[2020-05-26 17:39] Urigo commented on #73
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:39] #73 closed

[2020-05-26 17:41] Urigo commented on #74
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:41] #74 closed

[2020-05-26 17:41] Urigo commented on #78
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:41] #78 closed

[2020-05-26 17:45] Urigo commented on #80
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:45] #80 closed

[2020-05-26 17:46] Urigo commented on #83
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:46] #83 closed

[2020-05-26 17:50] Urigo commented on #85
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:50] #85 closed

[2020-05-26 17:55] Urigo commented on #86
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:55] #86 closed

[2020-05-26 17:57] Urigo commented on #98
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:57] #98 closed

[2020-05-26 17:58] Urigo commented on #99
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:58] #99 closed

[2020-05-26 17:59] Urigo commented on #104
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 17:59] #104 closed

[2020-05-26 18:01] Urigo commented on #109
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:01] #109 closed

[2020-05-26 18:02] Urigo commented on #110
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:02] #110 closed

[2020-05-26 18:03] Urigo commented on #116
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:03] #116 closed

[2020-05-26 18:04] Urigo commented on #119
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:04] #119 closed

[2020-05-26 18:05] Urigo commented on #120
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:05] #120 closed

[2020-05-26 18:05] Urigo commented on #121
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:05] #121 closed

[2020-05-26 18:06] Urigo commented on #126
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:06] #126 closed

[2020-05-26 18:08] Urigo commented on #132
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:08] #132 closed

[2020-05-26 18:10] Urigo commented on #142
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:10] #142 closed

[2020-05-26 18:10] Urigo commented on #144
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:10] #144 closed

[2020-05-26 18:11] Urigo commented on #145
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:11] #145 closed

[2020-05-26 18:12] Urigo commented on #153
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:12] #153 closed

[2020-05-26 18:14] Urigo commented on #157
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:14] #157 closed

[2020-05-26 18:15] Urigo commented on #159
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:15] #159 closed

[2020-05-26 18:16] Urigo commented on #163
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:16] #163 closed

[2020-05-26 18:17] Urigo commented on #164
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:17] #164 closed

[2020-05-26 18:19] Urigo commented on #169
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:19] #169 closed

[2020-05-26 18:20] Urigo commented on #173
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:20] #173 closed

[2020-05-26 18:21] Urigo commented on #175
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:21] #175 closed

[2020-05-26 18:22] Urigo commented on #297
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:22] #297 closed

[2020-05-26 18:23] Urigo commented on #305
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:23] #305 closed

[2020-05-26 18:24] Urigo commented on #325
Thank you for reporting.

In the last few months, since [the transition of many libraries](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) under [The Guild](http://the-guild.dev)'s leadership, We've reviewed and released many improvements and versions to [graphql-cli](https://github.com/Urigo/graphql-cli), [graphql-config](https://github.com/kamilkisiela/graphql-config)

[2020-05-26 18:24] #325 closed

[2020-05-27 14:59] macrozone commented on #62
for reference: if someone uses prisma2 and react-admin, we built a new, maintained data-provider for it. It has a helper function for the backend that exposes all crud operations for a given resource

https://github.com/panter/ra-data-prisma

[2020-07-27 05:35] frandiox commented on #325
@Urigo Hi and thanks for the updates! Do you know of any resource to upgrade from `prisma-binding` (which uses `graphql-binding` internally) to GraphQL Mesh?
Also, is there any equivalent of `graphql-binding`'s `buildInfoFromFragment` and `addFragmentToInfo` in GraphQL Mesh?
Thanks!

[2020-08-02 20:47] Urigo commented on #325
thanks for the question @frandiox
I'm not sure about the status of `prisma-binding` to be honest, but I would love to learn from you about your current use case and if we can support it.
About `buildInfoFromFragment` and `addFragmentToInfo`, have you looked on the [new schema stitching API in GraphQL Tools v6](https://the-guild.dev/blog/graphql-tools-v6)?
We are using it under the hood in GraphQL

[2020-08-18 11:15] timotgl commented on #164
@cRicateau We also observed the memory leak when creating an instance of `Binding` on every request. The solution suggested by @lambrojos to dynamically set headers did not work for us (not 100% sure if we did it correctly though). Our solution was to use https://github.com/prisma-labs/graphql-request which makes it very easy to set headers on the client instance at any time. We haven't found any

[2020-08-18 11:26] Urigo commented on #164
@timotgl could you share a simple example in a repo?
then we could PR it with a couple of options so you could compare

[2021-10-18 18:14] renovate[bot] opened #376 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency @types/node to v16
 - [ ] chore(deps): update dependency ava to v4
 - [ ] chore(deps): update dependency h